<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пейзажи Марса</title>
    <link rel="stylesheet" href="static/css/carousel.css">
</head>
<body>
    <h1 >Пейзажи Марса</h1>
    <div>
        <div class="pic-ctn">
        {% for url in data %}
            <img src="{{url}}" alt="" class="pic">
        {% endfor %}
        </div>
    </div>
    <div class="form">
        <form method="post" enctype="multipart/form-data">
            <label>Выберете файл</label>
            <br>
            <input type="file" name="file">
            <br>
            <button type="submit">Отправить</button>
        </form>
    </div>
</body>
</html>


